certifi==2022.6.15
cffi==1.15.1
charset-normalizer==2.1.0
Deprecated==1.2.13
ebcdic==1.1.1
gitdb==4.0.9
GitPython==3.1.27
idna==3.3
numpy==1.24.2
pandas==1.5.3
parse==1.19.0
prettytable==3.3.0
pycparser==2.21
PyGithub==1.55
PyJWT==2.4.0
PyNaCl==1.5.0
python-dateutil==2.8.2
python-magic==0.4.27
pytz==2022.7.1
PyYAML==6.0
requests==2.28.1
six==1.16.0
smmap==5.0.0
urllib3==1.26.11
wcwidth==0.2.5
wrapt==1.14.1
XlsxWriter==3.0.8
xmi-reader==0.5.9
